body {
    background: #f5f5f5;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#login-box {
    width: 350px;
    margin: 80px auto;
    padding: 30px 25px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    text-align: center;
}

#login-form-box {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input[type="email"], input[type="password"] {
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button[type="submit"] {
    padding: 10px;
    background: #ababab;
    color: #fff;
    font-weight: bold;
    text-shadow: 2px 2px 2px black;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.2s;
}

button[type="submit"]:hover {
    background: #7d7d7d;
}


#url-box {
    width: 400px;
    margin: 40px auto 30px auto;
    padding: 25px 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.12);
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

#url-box label {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px;
}

#url-box input[type="text"] {
    padding: 6px 12px;
    border: 1px solid #bbb;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
}

#url-box button[type="submit"] {
    width: 100%;
    background: #ababab;
    color: #fff;
    font-weight: bold;
    text-shadow: 2px 2px 2px black;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
    transition: background 0.2s;
    
}

#url-box button[type="submit"]:hover {
    background: #7d7d7d;
}

h1 {
    text-align: center;
    color: #333;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 2rem;
}

table {
    width: 90%;
    margin: 0 auto 40px auto;
    border-collapse: collapse;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.10);
    overflow: hidden;
}

th, td {
    padding: 8px 16px;
    text-align: center;
}

th {
    background: #7d7d7d;
    color: #fff;
    font-weight: 600;
    font-size: 1rem;
}

tr:nth-child(even) {
    background: #f2f2f2;
}

tr:hover {
    background: #e6f0ff;
}